



<footer class="footer" style="background-color: #ebebeb ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="~/Home/index">
                            <img src="~/Images/desktop-computer.png" alt="">
                            <h4 style="font-style:initial ;display:inline-block">Online shop</h4>
                        </a>
                    </div>
                    <p>
                        Cửa hàng bán hàng trực tuyến <br />
                    </p>


                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer__widget">
                    <h6>Thành viên trong nhóm</h6>
                    <ul>
                        <li>Nguyễn Hoàng Thái Tuấn</li>
                        <li>Thân Hải Điền</li>
                        <li>Nguyễn Hồ Thanh Luyên</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>MSSV</h6>
                    <ul>
                        <li>19DH111134</li>
                        <li>19DH110678</li>
                        <li>19DH111105</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__widget">
                    <h6>Giảng viên hướng dẫn</h6>
                    <ul>
                        <li>Ths. Lý Đoàn Duy Khánh</li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="footer__widget" style="text-align:center">
                    <h6>Mẫu thiết kế phần mềm</h6>

                    <p>
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script> | Đồ án được thực hiện bởi Luyên | Điền | Tuấn
                    </p>
                </div>
            </div>

        </div>

    </div>
</footer>

